# PHPMailer (excluir testes e exemplos)
PHPMailer/language/
PHPMailer/test/
PHPMailer/examples/

# Configurações de email
email_config.php  # Este ficheiro com as credenciais
config/email_credentials.php
assets/bootstrap-5.3.3-dist/

# Ficheiros de teste
test_email.php
debug.php


